<div class="container">

    <h2>Answer the survey</h2>
    
    <!-- id -->
    <div class="input-group mb-3">
        <span class="input-group-text">ID</span>
        <input type="text" class="form-control" 
        placeholder="enter your id" [(ngModel)]='mySurvey.Id'/>
    </div>

    <!-- name -->
    <div class="input-group mb-3">
        <span class="input-group-text">NAME</span>
        <input type="text" class="form-control" 
        placeholder="enter your name" [(ngModel)]='mySurvey.Name'/>
    </div>

    <!-- age -->
    <div class="input-group mb-3">
        <span class="input-group-text">AGE</span>
        <input type="number" class="form-control" 
        placeholder="enter your age" [(ngModel)]='mySurvey.Age'/>
    </div>

    <!-- fav color -->
    <div class="input-group">
        <p>FAV-COLOR  :</p>
        <div class="input-group-text">
          <input class="form-check-input mt-0" type="radio" value="green" name="favColorArr" (change)="getColor($event)"/>
          <label>green</label>
        </div>    
        <div class="input-group-text">
            <input class="form-check-input mt-0" type="radio" value="red" name="favColorArr" (change)="getColor($event)"/>
            <label>red</label>
        </div>    
        <div class="input-group-text">
            <input class="form-check-input mt-0" type="radio" value="blue" name="favColorArr" (change)="getColor($event)"/>
            <label>blue</label>
        </div>    
    </div>

    <!-- city: checkbox: -->
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">City:</span>
        <div *ngFor="let city of cities">
            <input type="checkbox" [value]='city' (change)="getCity($event)" 
            [disabled]="isChecked && (mySurvey.City!=city)" 
            class="form-check-input mt-0"> {{city}}
        </div>
    </div>

      <!-- voted for: -->
      <p>Voted for:</p>
      <select class="form-select" (change)="getVotedFor($event)">
          <option *ngFor="let opt of VotedForArr" 
          [selected]="opt.selected == true" [value]='opt.value'>
              {{opt.value}}</option>
      </select>

      <hr/>

    <h2>Answers</h2>
    <p>ID: {{mySurvey.Id}}</p>
    <p>NAME: {{mySurvey.Name}}</p>
    <p>AGE: {{mySurvey.Age}}</p>
    <p>FavColor: {{mySurvey.FavColor}}</p>
    <p>CITY: {{mySurvey.City}}</p>
    <p>Voted FOR: {{mySurvey.VotedFor}}</p>

</div>